.footer
  .section_inner
    .footer_row
      %ul.footer_contacts
        %li
          .footer_caption Телефон
          %p
            %span.fw_500 8-800-00000000
        %li
          .footer_caption Адрес
          %p
            %span.fw_500 г. Омск, ул.&shy;Светлоголового&nbsp;18

      %ul.footer_nav
        %li
          %a.gl_link._link_gray{:href => '#'} О компании
        %li
          %a.gl_link._link_gray{:href => '#'} Оплата
        %li
          %a.gl_link._link_gray{:href => '#'} Тарифы и условия
        %li
          %a.gl_link._link_gray{:href => '#'} Доставка
        %li
          %a.gl_link._link_gray{:href => '#'} Контакты
        %li
          %a.gl_link._link_gray{:href => '#'} Филиалы

    .footer_row
      .copyright_block
        %p
          %span.copyright
            © Verito — сайт склад. 
          %span Использование сайта, в том числе размещение лота, означает согласие с 
          %a.gl_link._link_black.fs_i{:href => '#'} пользовательским соглашением.
        %p
          %span Оплачивая услуги на сайте, вы принимаете 
          %a.gl_link._link_black.fs_i{:href => '#'} договор оферты.

      %ul.soc_block
        %li
          %a.soc_link.i-vk{:href => '#'}
        %li
          %a.soc_link.i-fb{:href => '#'}
        %li
          %a.soc_link.i-in{:href => '#'}
            
