@charset "UTF-8";
.section_inner:after, .user_menu:after, .footer_row:after, .footer_contacts:after, .footer_nav:after {
  position: static;
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden; }

.rect_1024, .rect_1024:after {
  left: 50%;
  transform: translate(-50%, 0); }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a, input, label, textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }
  html:before, html:after, body:before, body:after, div:before, div:after, span:before, span:after, object:before, object:after, iframe:before, iframe:after,
  h1:before,
  h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after, p:before, p:after, blockquote:before, blockquote:after, pre:before, pre:after,
  abbr:before,
  abbr:after, address:before, address:after, cite:before, cite:after, code:before, code:after,
  del:before,
  del:after, dfn:before, dfn:after, em:before, em:after, img:before, img:after, ins:before, ins:after, kbd:before, kbd:after, q:before, q:after, samp:before, samp:after,
  small:before,
  small:after, strong:before, strong:after, sub:before, sub:after, sup:before, sup:after, var:before, var:after,
  b:before,
  b:after, i:before, i:after, a:before, a:after, input:before, input:after, label:before, label:after, textarea:before, textarea:after,
  dl:before,
  dl:after, dt:before, dt:after, dd:before, dd:after, ol:before, ol:after, ul:before, ul:after, li:before, li:after,
  fieldset:before,
  fieldset:after, form:before, form:after, label:before, label:after, legend:before, legend:after,
  article:before,
  article:after, aside:before, aside:after, canvas:before, canvas:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after,
  footer:before,
  footer:after, header:before, header:after, hgroup:before, hgroup:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after,
  time:before,
  time:after, mark:before, mark:after, audio:before, audio:after, video:before, video:after {
    box-sizing: border-box; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

textarea {
  resize: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*----------------------------------form elements*/
input, select {
  vertical-align: middle; }

textarea {
  resize: none;
  overflow-y: auto; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: none; }

input:hover, input:focus, input:active,
textarea:hover,
textarea:focus,
textarea:active {
  outline: none; }

input[type="submit"] {
  cursor: pointer; }

button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer; }

button:focus, button:active {
  outline: none; }

input,
textarea {
  box-sizing: border-box; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

a {
  text-decoration: none; }

/*-----------------------------form elements###*/
@font-face {
  font-family: 'verito_icons';
  src: url("./fonts/verito_icons.eot?bduou8");
  src: url("./fonts/verito_icons.eot?bduou8#iefix") format("embedded-opentype"), url("./fonts/verito_icons.ttf?bduou8") format("truetype"), url("./fonts/verito_icons.woff?bduou8") format("woff"), url("./fonts/verito_icons.svg?bduou8#verito_icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'verito_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i-vk:before {
  content: ""; }

.i-fb:before {
  content: ""; }

.i-in:before {
  content: ""; }

.i-plus:before {
  content: ""; }

.i-heart:before {
  content: ""; }

.i-menu:before {
  content: ""; }

.i-user:before {
  content: ""; }

.i-search:before {
  content: ""; }

html, body {
  height: 100%; }

html {
  overflow-y: scroll; }

body {
  font: 14px/1.2 "Roboto", sans-serif;
  color: #29292c; }

.hide {
  display: none !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.mb, .logo, .user_menu-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; }

.wrapper {
  position: relative;
  min-height: 100%;
  padding: 80px 0 0;
  overflow: hidden; }
  @media only screen and (min-width: 1000px) {
    .wrapper {
      padding-top: 112px; } }

.base {
  padding-bottom: 30px; }
  @media only screen and (min-width: 1000px) {
    .base {
      padding-bottom: 420px; } }

.section_inner {
  width: 100%;
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 40px;
  padding-top: 20px; }
  .header .section_inner {
    max-width: 1216px;
    position: relative; }
  @media only screen and (min-width: 1000px) {
    .header {
      line-height: 46px;
      padding-top: 33px; }
      .header .section_inner {
        padding-left: 120px; } }

@media only screen and (min-width: 1000px) {
  .location_block {
    float: left; } }

.location_block-link span::after {
  transition: background 0.3s;
  content: '';
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  width: 30px;
  height: 2px;
  margin-left: 12px;
  background: #bebebf; }

.location_block-link:hover span::after {
  background: #29292c; }

.logo_block {
  float: left;
  padding-left: 10px; }

.logo {
  position: relative;
  width: 135px; }
  .logo img {
    display: block;
    width: 100%; }
  @media only screen and (min-width: 1000px) {
    .logo {
      width: 210px;
      margin-right: 72px; } }

.lang_switcher {
  float: left;
  padding-left: 60px; }

.callback_block {
  float: right; }

.user_menu {
  float: right; }
  .user_menu > li {
    float: left;
    padding-left: 10px; }

@media only screen and (max-width: 999px) {
  .user_menu-item .user_menu-icon {
    font-size: 24px; } }

@media only screen and (min-width: 1000px) {
  .user_menu-item._menu_toggle {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0; }
    .user_menu-item._menu_toggle .user_menu-link {
      padding: 0 12px; } }

.user_menu-link {
  float: left;
  padding: 0 10px; }
  .user_menu-link .user_menu-text {
    font-weight: bold;
    font-size: 13px; }
  .user_menu-link .user_menu-icon {
    transition: color 0.3s;
    color: #b9b9c1;
    font-size: 20px; }
    .user_menu-link .user_menu-icon + .user_menu-text {
      margin-left: 8px; }
    .user_menu-link .user_menu-icon.i-menu {
      color: #008ab9; }
      @media only screen and (min-width: 1000px) {
        .user_menu-link .user_menu-icon.i-menu {
          color: #91a8af; } }
  .user_menu-link:hover .user_menu-icon {
    color: #89898f; }
  @media only screen and (min-width: 1000px) {
    .user_menu-link {
      padding: 0 6px; } }

.btn_v1 {
  height: 40px;
  min-width: 40px;
  text-align: center; }
  @media only screen and (min-width: 1000px) {
    .btn_v1 {
      height: 46px;
      min-width: 46px; } }
  .btn_v1.search_btn {
    display: block;
    text-decoration: none;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 500; }
    @media only screen and (max-width: 999px) {
      .btn_v1.search_btn {
        background: none !important; }
        .btn_v1.search_btn .user_menu-icon {
          font-size: 22px;
          color: #b9b9c1; } }
    @media only screen and (min-width: 1000px) {
      .btn_v1.search_btn {
        margin-left: 15px; }
        .btn_v1.search_btn .user_menu-icon {
          font-size: 20px; } }
    .btn_v1.search_btn .user_menu-text {
      text-transform: uppercase; }
  .btn_v1.sell_btn {
    display: block;
    text-decoration: none;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 500; }
    .btn_v1.sell_btn .user_menu-icon {
      font-size: 14px; }
    .btn_v1.sell_btn .user_menu-text {
      text-transform: uppercase; }
    .btn_v1.sell_btn .user_menu-icon {
      color: #dbf1f8;
      font-size: 18px; }
      @media only screen and (min-width: 1000px) {
        .btn_v1.sell_btn .user_menu-icon {
          color: #5cbee0;
          font-size: 14px;
          margin-right: 3px; } }
    @media only screen and (min-width: 1000px) {
      .btn_v1.sell_btn {
        padding: 0 23px; } }

.green_btn {
  color: #fff; }

.btn_red {
  color: #fff;
  background: #f46b65; }

.gray_btn {
  transition: background 0.3s, color 0.3s;
  background: #f0f0f6;
  color: #bdbdc5; }
  .gray_btn:hover {
    background: #e0e0e5;
    color: #a3a3a9; }

.blue_btn {
  transition: background 0.3s, color 0.3s;
  background: #009ace;
  color: #fff; }
  .blue_btn:hover {
    background: #0091c2; }
  .blue_btn .user_menu-icon {
    color: #5cbee0; }

@media only screen and (min-width: 1000px) {
  .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; } }

.footer_row {
  position: relative;
  padding: 25px 20px;
  border-top: 1px solid #ebedee; }
  @media only screen and (min-width: 1000px) {
    .footer_row {
      padding: 32px 40px 35px;
      margin: 0 -40px; }
      .footer_row:first-child {
        padding: 36px 40px 28px; } }

.footer_contacts {
  font-size: 11px; }
  .footer_contacts li {
    float: left; }
  @media only screen and (max-width: 999px) {
    .footer_contacts {
      padding: 3px 20px 28px; }
      .footer_contacts li {
        max-width: 60%; }
        .footer_contacts li:last-child {
          float: right;
          max-width: 35%; } }
  @media only screen and (min-width: 1000px) {
    .footer_contacts {
      float: right;
      max-width: 60%;
      font-size: 14px; }
      .footer_contacts li {
        padding-right: 28px;
        padding-left: 40px; }
        .footer_contacts li:first-child {
          padding-left: 0; } }

.footer_nav {
  font-size: 11px; }
  .footer_nav li {
    float: left;
    width: 50%;
    margin: 5px 0 13px;
    padding-right: 10px; }
  @media only screen and (max-width: 999px) {
    .footer_nav {
      border-top: 1px solid #ebedee;
      padding: 20px 20px 0; }
      .footer_nav li {
        margin: 10px 0 3px; }
        .footer_nav li:nth-child(even) {
          width: 36%;
          float: right; } }
  @media only screen and (min-width: 1000px) {
    .footer_nav {
      float: left;
      max-width: 40%;
      min-width: 380px;
      font-size: 13px; } }

.copyright_block {
  position: relative;
  text-align: center;
  font-size: 10px;
  color: #a6a8ad; }
  .copyright_block p {
    margin-bottom: 6px; }
  .copyright_block a {
    border-bottom: 2px solid #b6b8b9; }
  @media only screen and (max-width: 999px) {
    .copyright_block {
      padding-bottom: 27px; }
      .copyright_block p {
        margin-bottom: 8px;
        line-height: 1.3; } }
  @media only screen and (min-width: 1000px) {
    .copyright_block {
      font-size: 13px; } }

@media only screen and (max-width: 999px) {
  .copyright {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center; } }

.soc_block {
  text-align: center;
  font-size: 0;
  padding-top: 25px; }
  .soc_block li {
    display: inline-block;
    vertical-align: top;
    margin: 0 4px 8px; }
  @media only screen and (min-width: 1000px) {
    .soc_block {
      padding: 32px 0 5px; } }

.soc_link {
  transition: background 0.3s, color 0.3s;
  display: block;
  border-radius: 100%;
  background: #e1e6e8;
  color: #9ea2a3;
  width: 32px;
  height: 32px;
  font-size: 18px;
  line-height: 32px;
  text-align: center; }
  .soc_link:hover {
    background: #008ab8;
    color: #fff; }
  @media only screen and (min-width: 1000px) {
    .soc_link {
      width: 36px;
      height: 36px;
      line-height: 36px; } }

.footer_caption {
  font-size: 10px;
  color: #9b9c9f;
  margin-bottom: 6px;
  text-transform: uppercase; }
  @media only screen and (min-width: 1000px) {
    .footer_caption {
      font-size: 13px;
      margin: 5px 0 10px; } }

.rect_1024 {
  position: absolute;
  width: 950px;
  max-width: 100%;
  top: 0;
  bottom: 0;
  border: solid red;
  border-width: 0 1px;
  z-index: 10;
  pointer-events: none; }
  .rect_1024:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: red; }

.gl_link {
  text-decoration: none; }
  .gl_link._link_gray {
    transition: color 0.3s;
    color: #727377; }
    .gl_link._link_gray:hover {
      color: #29292c; }
  .gl_link._link_black {
    transition: color 0.3s;
    color: #29292c; }
    .gl_link._link_black:hover {
      color: #000; }

.text_center {
  text-align: center; }

.text_right {
  text-align: right; }

.text_left {
  text-align: left; }

.text_upper {
  text-transform: uppercase; }

.fs_i {
  font-style: italic; }

.fw_500 {
  font-weight: 500; }

@media only screen and (max-width: 999px) {
  .mob_hidden {
    display: none !important; } }
